<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Editor</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
<body>
  <h1>Welcome {{user.name}} <a class="logout" href="/logout">Logout</a></h1>
  <p>TinyMCE editor instance setup with Tiny Drive integated into the link, image and media dialogs and with a separate direct insertfile button.</p>
  <textarea></textarea>
  <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey={{apiKey}}"></script>
  <script src="/js/init.js"></script>
</body>
</html>
